.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.font-size-kementerian {
  font-size: 17px;
  font-weight: bold;
}

/* Input Form */
.form-pengaduan {
  text-align: center;
  margin-top: 10px;
}

input[type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

input[type=submit] {
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.container {
  border-radius: 5px;
  padding: 20px;
}

/* Penutup */

.penutup {
  background-color: #202020;
  padding: 14px 16px;
  color: #f1f1f1;
  text-align: center;
}

.penutup p:last-child {
  font-size: 15px;
}

.penutup span:hover {
  color: #16325B;
  cursor: pointer;
}


/* Input Form */