.icon-bar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.whatsapp {
  background: green;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}

.judul-pencarian-nama {
  text-align: center;
  margin-top: 14px;
}

input {
  padding: 8px 20px;
  border-radius: 4px;
  border: 1px solid #222;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.carinama {
  text-align: center;
}

.tombol-cari-nama {
  margin-top: 10px;
  background-color: green;
  color: white;
  border: none;
  padding: 8px 20px;
}


.resident-count {
  margin: 30px 0 0 0;
  text-align: center;
}

.resident-count p {
  font-size: 24px;
  font-weight: bold;
}