.judul-pencarian-nama {
  text-align: center;
  margin-top: 14px;
}

input {
  padding: 8px 20px;
  border-radius: 4px;
  border: 1px solid #222;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.carinama {
  text-align: center;
}

.tombol-cari-nama {
  margin-top: 10px;
  background-color: green;
  color: white;
  border: none;
  padding: 8px 20px;
}